<h2>Route <%= @route.id %></h2>

<%= link_to 'New location', locations_url(route_id: @route.id), method: :post %>
<%= link_to 'View user', current_user %>

<% @locations.each do |loc| %>
  <p> Lon: </p>
  <%= loc.longitude %>
  <p> Lat: </p>
  <%= loc.latitude %>
  <p> Date: </p>
  <%= loc.created_at %>
  <br>
<% end %>
