<h2>Route <span id='route-id'><%= @route.id %></span></h2>

<%- if protect_against_forgery? -%>
  <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
<%- end -%>

<div>
  <%= button_tag 'Start route', id: 'start-record' , class: 'btn btn-primary' %>
  <%= button_tag 'Stop route', id: 'stop-record' , class: 'btn btn-primary' %>
</div>

<p>This route has <%= pluralize(@latlngs.count, 'point') %>. </p>

<div id='map' style="height: 300px; width: 500px;"></div>


<%= map(:center => {
  :latlng => [@center_lat, @center_lon],
  :zoom => 5, 
  },
  :polylines => [
    {
      :latlngs => @latlngs
    }
  ]
) %>

<%= link_to 'Back to routes', current_user %>