<h1>New Location</h1>

<%= form_for(@location) do |l| %>
  
  <%= l.label :longitude %>
  <%= l.text_field :longitude %>
  <br>

  <%= l.label :latitude %>
  <%= l.text_field :latitude %>
  <br>

  <%= l.submit "Create" %>
<% end %>
